{% extends '_base.html' %}
{% load custom_tags %}
{% block title %}
    {{ object.name }} COVID19:
    {% if labels %}{{ total.total_cases }} Cases and {{ total.total_deaths }} Deaths
    {% else %}
        No Entries
    {% endif %}
{% endblock %}
{% block css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{% endblock %}
{% block content %}
    {% include 'components/_navbar.html' %}
    <div class="container py-3">
        <h2 class="text-center">Country: {{ object.name }}</h2>
        {% if labels %}
            <div class="row pt-4 text-center">
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Cases
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.total_cases }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Active
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.total_cases|subtract:total.total_deaths }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deaths
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.total_deaths }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart-container" style="position: relative; height:40vh; width:40vw">
                <canvas id="mixed-chart" class="pb-3" width="800" height="450"></canvas>
            </div>
            <h2 class="py-5">Latest Updates</h2>
            <script>
                new Chart(document.getElementById("mixed-chart"), {
                    type: 'bar',
                    data: {
                        labels: [{% for label in labels %}'{{ label.date }}',{% endfor %}],
                        datasets: [{
                            label: "Cases",
                            type: "line",
                            borderColor: "rgb(255, 99, 132)",
                            data: [{% for label in labels %}{{ label.sum_cases }}, {% endfor %}],
                            fill: false
                        }, {
                            label: "New Cases",
                            type: "bar",
                            backgroundColor: "rgba(0,0,0,0.2)",
                            backgroundColorHover: "#3e95cd",
                            data: [{% for label in labels %}{{ label.sum_cases }}, {% endfor %}]
                        }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'COVID19 Growth'
                        },
                        legend: {display: false}
                    }
                });

            </script>
        {% else %}
            No Entries.
        {% endif %}

    </div>
{% endblock %}
